<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.gms.samples.vision.text.photo"
    android:installLocation="auto" >
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:hardwareAccelerated="true"
        android:label="OcrTextDemo"
        android:allowBackup="true"
        android:icon="@drawable/icon">

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="face"/>

        <activity
            android:name="com.google.android.gms.samples.vision.text.photo.PhotoViewerActivity"
            android:icon="@drawable/icon"
            android:label="@string/title_activity_photo_viewer"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RetrieveList"
            android:parentActivityName=".PhotoViewerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PhotoViewerActivity"/>
        </activity>
    </application>

</manifest>
